//- Created by xiaoerge on 1/13/17.

extends layout

block content

    h2.text-center= title
    .row
        .col-md-8.col-md-offset-2
            .panel.panel-default
                .panel-heading
                    a(href="/") Home
                .panel-body
                    .row
                        .col-md-8
                            h1#rand-val(style={'font-size': '3em;'})= randVal
                        .col-md-4
                            img.img-thumbnail.md-image(src=randSrc, alt=randVal)
                .panel-footer
                    form.form-inline
                        .form-group
                            button#re-replay.btn.btn-info(type='button') Replay


append script
    script.
        $(function() {
            $('#re-replay').click(function() {
                window.location.replace('#{fullUrl}?t='+Date.now());
            });
        });