//- Created by xiaoerge on 1/13/17.

extends layout

block content

    h2.text-center= title
    .row
        .col-md-6.col-md-offset-3
            .panel.panel-default
                .panel-heading
                    a(href="/") Home
                .panel-body
                    .row
                        .col-md-8
                            h1#rand-val(style={'font-size': '8em;'}) ...
                        .col-md-4
                            img.img-thumbnail.md-image(style={'border': 'none;'}, src=randSrc, alt=randVal)
                .panel-footer
                    form.form-inline
                        .form-group
                            button#re-replay.btn.btn-info(type='button') Replay
                        .form-group.pull-right

                            //- button#copy-url.btn.btn-default.pull-right(type='button', data-clipboard-target="#url-address") #[i.fa.fa-clipboard]
                            //- input#url-address.form-control(type="text", value=fullUrl)


append script
    script.
        $(function() {
            setTimeout(function() {
                $('#rand-val').text('#{randVal}')
            }, 3000);

            $('#re-replay').click(function() {
                window.location.replace('#{fullUrl}?t='+Date.now());
            });
        });