doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=description)
        meta(name="author", content=author)
        meta(name="keywords", content=keywords)
        meta(property="fb:app_id", content=fbAppId)
        meta(property="fb:admin", content=fbAdmin)
        meta(property="og:title", content=title)
        meta(property="og:type", content=ogType)
        meta(property="og:url", content=ogUrl)
        meta(property="og:description", content=ogDescription)
        meta(property="og:image", content=host+xlgIconGif)
        meta(property="og:image:width", content="192")
        meta(property="og:image:height", content="192")
        meta(name="twitter:card", content=twitterCard)
        meta(name="twitter:creator", content=twitterCreator)
        meta(name="twitter:title", content=twitterTitle)
        meta(name="twitter:description", content=twitterDescription)
        meta(name="twitter:image", content=host+xlgIconGif)
        //- include appleLinks

        //- We are safer with absolute urls,  why?
        link(rel="icon" type="image/png", sizes="192x192" href=host+lgIconGif)
        link(rel="icon" type="image/png", sizes="96x96" href=host+mdIconGif)
        link(rel="icon" type="image/png", sizes="32x32" href=host+smIconGif)
        link(rel="icon" type="image/png", sizes="16x16" href=host+xsIconGif)
        //- link(rel="manifest", href="/static/icons/manifest.json")
        //- include microsoftApp

        title= title
        link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/stylesheets/style.css')

        block style

        <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js")
        <![endif]-->

    body
        .container
            block content

        script(src='/static/jquery/dist/jquery.min.js')
        script(src='/static/bootstrap/dist/js/bootstrap.min.js')
        block script

