doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content=description)
        meta(name="author", content=author)
        meta(name="keywords", content=keywords)
        meta(property="fb:app_id", content=fbAppId)
        meta(property="fb:admin", content=fbAdmin)
        meta(property="og:title", content=title)
        meta(property="og:type", content=ogType)
        meta(property="og:url", content=ogUrl)
        meta(property="og:description", content=ogDescription)
        meta(property="og:image", content=xlgIconPng)
        meta(property="og:image:width", content="192")
        meta(property="og:image:height", content="192")
        meta(name="twitter:card", content=twitterCard)
        meta(name="twitter:creator", content=twitterCreator)
        meta(name="twitter:title", content=twitterTitle)
        meta(name="twitter:description", content=twitterDescription)
        meta(name="twitter:image", content=xlgIconPng)
        //- include appleLinks
        link(rel="icon" type="image/png", sizes="192x192" href=lgIconGif)
        link(rel="icon" type="image/png", sizes="96x96" href=mdIconGif)
        link(rel="icon" type="image/png", sizes="32x32" href=smIconGif)
        link(rel="icon" type="image/png", sizes="16x16" href=xsIconGif)
        //- link(rel="manifest", href="/static/icons/manifest.json")
        //- include microsoftApp
        meta(name="theme-color", content="#ffffff")

        title= title
        link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/font-awesome/css/font-awesome.min.css')
        link(href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet")
        link(rel='stylesheet', href='/static/stylesheets/style.css')

        block style

        <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js")
        <![endif]-->

    body
        .container
            block content

        script(src='/static/jquery/dist/jquery.min.js')
        script(src='/static/bootstrap/dist/js/bootstrap.min.js')
        script(src='/static/clipboard/dist/clipboard.min.js')
        block script

